{% extends 'base.html.twig' %}

{% block titre_page %}Challenges{% endblock %}

{% block content %}
    <table>
      <tr>
        <th>Nom</th>
        <th>Difficulté</th>
        <th>Récompense</th>
      </tr>
    {% for challenge in challenges %}
      <tr>
        <td>{{ challenge.name }}</td>
        {# <p>{{ challenge.description }}</p> #}
        <td>{{ challenge.difficulty }}/10</td>
        <td>{{ challenge.reward }} points</td>
      </tr>
    {% endfor %}
    </table>
{% endblock %}
