{% extends 'base.html.twig' %}

{% block titre_page %}Challenges{% endblock %}

{% block content %}
    {% for challenge in challenges %}
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="header"><h2>{{ challenge.name }}</h2></div>
        <div class="body">
        {{ challenge.difficulty }}/10
        {{ challenge.reward }} points
        </div>
      </div>
    </div>
    {% endfor %}
    </table>
{% endblock %}
