div.card {
    border-radius: 20px;
}

div.card > div.header {
    border-radius: 20px 20px 0px 0px;
}

h1 {
    font-size: 2em;
}

section.content {
    margin-left: auto;
    margin-right: auto;
}

.no-margin {
    margin: 0px !important;
}
